
   <div id="form-header">
            <div id="images">
      <div id="gsclogo">
      <img src="{{ "/images/bigscape.png" | prepend: site.baseurl }}" width="315" height="69" align="left">
      </div>
      <div id="mibig_logo">
      <img src="{{ "/images/corason.png" | prepend: site.baseurl }}" width="136" height="66" align="right">
      </div>
      </div>
      <div id="menu">
        <a href={{ "/" | prepend: site.baseurl }}>HOME</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ "/installation" | prepend: site.baseurl }}">INSTALLATION</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ "/tutorial" | prepend: site.baseurl }}">TUTORIAL</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ "/about" | prepend: site.baseurl }}">ABOUT</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <br><br>
        <hr>
      </div>
      </div>      

