


   <div id="form-header">
      <div id="logo1">
      <img src="{{ "/images/bigscape.png" | prepend: site.baseurl }}" width="23%" align="left">
      </div>
      <div id="logo2">
      <img src="{{ "/images/corason.png" | prepend: site.baseurl }}" width="175" height="86" align="right">
   
      </div>
      <div id="menu">
        <a href={{ "/" | prepend: site.baseurl }}>HOME</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ "/installation" | prepend: site.baseurl }}">INSTALLATION</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ "/tutorial" | prepend: site.baseurl }}">TUTORIAL</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{{ "/about" | prepend: site.baseurl }}">ABOUT</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <br><br>
        <hr>
      </div>
      </div>      

